[submodule "ark/algebra"]
	path = ark/algebra
	url = git@github.com:nategraf/arkworks-algebra.git
[submodule "ark/curves"]
	path = ark/curves
	url = git@github.com:nategraf/arkworks-curves.git
[submodule "wasm"]
	path = wasm
	url = git@github.com:nategraf/wasm-zkp-challenge.git
[submodule "prize-wasm-msm"]
	path = official-test-harness
	url = git@github.com:nategraf/prize-wasm-msm.git
