[submodule "ark/algebra"]
	path = ark/algebra
	url = https://github.com/snarkify/arkworks-algebra.git
[submodule "ark/curves"]
	path = ark/curves
	url = https://github.com/snarkify/arkworks-curves.git
[submodule "wasm"]
	path = wasm
	url = https://github.com/snarkify/wasm-zkp-challenge.git
[submodule "prize-wasm-msm"]
	path = official-test-harness
	url = https://github.com/snarkify/zprize-wasm-snarkify-submission.git
